
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link th:href="@{/js/jquery-1.11.3.min.js}" rel="stylesheet"/>
</head>
<body>  
    <h2>Test</h2>  
    <p th:text="${question.questionId}"></p>
    <p th:text="${question.description}"></p>
	<h1>JavaScript is ______ Language.</h1><br />
	<form >
	<input type="radio" name="choice" value="Scripting"/> Scripting
	<input type="radio" name="choice" value="Programming"/> Programming
	<input type="radio" name="choice" value="Application"/> Application
	<input type="radio" name="choice" value="None of These"/> None of These
	</form>
<!--  
<a><img src="imageDisplay.htm?employeeCode=$employee.employeeCode" 
style="width:300px;height:350px;" class="img-thumbnail" alt="Responsive image"></a>
-->

</body>  
</html>

<!--  
<!DOCTYPE html>

<html>

<body>
<h1>JavaScript is ______ Language.</h1><br>
<form >
<input type="radio" name="choice" value="Scripting"> Scripting
<input type="radio" name="choice" value="Programming"> Programming
<input type="radio" name="choice" value="Application"> Application
<input type="radio" name="choice" value="None of These"> None of These
</form>
<button onclick="submitAnswer()"Submit Answer></button> 

  </body>
 -->